<div class="all">
  <input id="search-bar" placeholder="Pikachu" [(ngModel)]="searchPokemonName"/>
  <p><span class="explication">Cliquer sur le nom d'un pokémon pour afficher plus d'informations</span></p>
  <div class="list-and-detail">
    <div class="list-pokemons">
      <div class="pokemons" *ngFor="let pokemon of pokemons | filterPokemonPipe:'name':searchPokemonName">
        <div class="poke" (click)="viewPokemonDetails(pokemon)">
          <img class="img-pokemon" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png " alt="image of pokemon"> 
          <p class="name-pokemon">{{pokemon.name}}</p>
        </div>
      </div>
    </div>
    <div class="currentPokemon">
      <app-pokemon-detail
        *ngIf="currentPokemon"
        [detail]="currentPokemon"
    ></app-pokemon-detail>
    </div>
  </div>
</div>

